<%- include ('../assets/head') %>
    <title>Visualização dos fornecedores</title>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <h3>Mercearia</h3>
                </a>
                    <form class="d-flex" action="/fornecedores/cadastro" method="GET" style="margin-right: 5px;">
                        <button class="btn btn-outline-success" type="submit">Adicionar<i class="fas fa-plus"
                                style="padding-left: 5px; text-align: center;"></i></button>
                    </form>

                    <form class="d-flex" action="/funcionarios/home" method="GET" style="margin-right: 5px;">
                        <button class="btn btn-outline-success" type="submit">Voltar<i class="fas fa-arrow-left"
                                style="padding-left: 5px; text-align: center;"></i></button>
                    </form>
                    <form class="d-flex" action="/usuarios/logoff" method="GET" style="margin-right: 5px;">
                        <button class="btn btn-outline-success" type="submit">Sair<i class="fas fa-sign-out-alt"
                                style="padding-left: 5px; text-align: center;"></i></button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <% for( let f of fornecedores ) { %>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Fornecedor</h5>
                                    <p>Nome: <%= f.nome %></p>
                                    <p>Telefone: R$ <%= f.telefone %></p>
                                    <p>Email: <%= f.email %> </p>
                                    <p>Tipo: <%= f.tipo %></p>
                                    <form method="POST" action="/fornecedores/<%=f.id %>?_method=DELETE">
                                        <button class="btn btn-outline-success"
                                            style=" padding-bottom: 5px;  margin-right: 5px; float: right;">
                                            <a style="color: white;">Excluir</a><i class="far fa-trash-alt"
                                                style="padding-left: 5px; text-align: center;"></i>
                                        </button>
                                    </form>
                                    <button class="btn btn-outline-success"
                                        style=" padding-bottom: 5px; margin-right: 5px; float: right;">
                                        <a href="/fornecedores/<%=f.id%>/edite" style="color: white;">Editar</a>
                                        <i class="far fa-edit" style="padding-left: 5px;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>

    </body>

    <script src="/js/scripts.js"></script>