<%- include ('../assets/head') %>
    <title>Visualização dos funcionários</title>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <h3>Mercearia</h3>
                </a>
                    <form class="d-flex" action="/funcionarios/cadastro" method="GET" style="margin-right: 5px;">
                        <button class="btn btn-outline-success" type="submit">Adicionar<i class="fas fa-plus"
                                style="padding-left: 5px; text-align: center;"></i></button>
                    </form>

                    <form class="d-flex" action="/funcionarios/home" method="GET" style="margin-right: 5px;">
                        <button class="btn btn-outline-success" type="submit">Voltar<i class="fas fa-arrow-left"
                                style="padding-left: 5px; text-align: center;"></i></button>
                    </form>
                    <form class="d-flex" action="/usuarios/logoff" method="GET" style="margin-right: 5px;">
                        <button class="btn btn-outline-success" type="submit">Sair<i class="fas fa-sign-out-alt"
                                style="padding-left: 5px; text-align: center;"></i></button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <% for( let f of funcionarios ) { %>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Funcionário</h5>
                                    <p>Nome: <%= f.nome %> - Função: <%= f.funcao %> </p>
                                    <p>CPF: <%= f.cpf %></p>
                                    <p>Data de nascimento: <%= f.data_nascimento %> </p>
                                    <p>Telefone: <%= f.telefone %></p>
                                    <p>Rua: <%= f.rua %> - <%= f.bairro %>  </p>
                                    <form method="POST" action="/funcionarios/<%=f.id %>?_method=DELETE">
                                        <button class="btn btn-outline-success"
                                            style=" padding-bottom: 5px;  margin-right: 5px; float: right;">
                                            <a style="color: white;">Excluir</a><i class="far fa-trash-alt"
                                                style="padding-left: 5px; text-align: center;"></i>
                                        </button>
                                    </form>
                                    <button class="btn btn-outline-success"
                                        style=" padding-bottom: 5px; margin-right: 5px; float: right;">
                                        <a href="/funcionarios/<%=f.id%>/edite" style="color: white;">Editar função</a>
                                        <i class="far fa-edit" style="padding-left: 5px;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>

    </body>
